html {
    background-color: #252f37;
    font-family: sans-serif;
    color: whitesmoke;
}

body {
    min-width: 360px;
    color: whitesmoke;
}

header, main, footer, nav {
    background-color: #252f37;
}

header {
    background: linear-gradient(to right bottom, #2695d5, #6240de);
    /* background-color: #007acc; */
}

footer {
    border-color: #5a5a5a;
    border-width: 2px;
    border-style: solid;
    color: #5a5a5a;
    text-align: center;
}

nav {
    background-color: #3b3b3b;
}

header,
main,
footer,
nav {
    margin: 1rem;
}

header {
    margin-bottom: 0;
}

nav {
    margin-top: 0;
}

nav ul {
    margin-top: 0;
}

header, footer {
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 40px;
    color: white;
}

header img {
    height: 100px;
    width: 100px;
}

nav ul {
    display: flex;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #5b5b5b;
    color: #dadada;
    /* #c79292 */

}

nav ul li a.active {
    background-color: #4d4d4d;
    color: #00bfff;
}

main {
    padding: 1.5rem;
    margin-bottom: 50px;
}

main h2 {
    padding: 5px;
    border-bottom: 2px solid #761cec;
    margin-bottom: 2rem;
}

.table-list {
    border-collapse: collapse;
    width: 100%;
    background-color: #3b3b3b;
    box-shadow: 0 0 20px rgba(79, 114, 197, 0.399);
}

.table-list tbody tr {
    border-bottom: 2px solid #767676;
}

.table-list tbody tr:last-of-type {
    border-bottom: 2px solid #007acc;
}


.table-list th,
.table-list td {
    text-align: center;
    padding: 12px 15px;
}

.table-list th {
    background-color: #007acc;
}

.list-actions {
    margin: 0;
    text-align: center;
    list-style: none;
    padding: 0;
}

.list-actions li {
    display: inline-block;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    display: inline-block;
    width: 75px;
    padding: 0.25 rem 0.5rem;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel,
.form-button-edit {
    border: none;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
}

.list-actions-button-details,
.list-actions-button-edit {
    margin-right: 1rem;
}

.list-actions-button-details {
    background-color: #34ac25;
}

.list-actions-button-details:hover {
    background-color: #59b24d;
}

.list-actions-button-edit,
.form-button-edit {
    background-color: #e0a537;
}

.list-actions-button-edit:hover,
.form-button-edit:hover {
    background-color: #e9c45e;
}

.list-actions-button-delete,
.form-button-cancel {
    background-color: #d55757;
}

.list-actions-button-delete:hover,
.form-button-cancel:hover {
    background-color: #bc6666;
}

.button-add, 
.form-button-submit
.form-button-cancel {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    float: left;
}


.button-add,
.form-button-submit {
    background-color: #007acc;
}

.button-add:hover,
.form-button-submit:hover {
    background-color: #1e87cc;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

.form {
    margin-left: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 150px 300px 1fr;
}

.form select,
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"] {
    border: 2px solid #4d4d4d;
    color: whitesmoke;
    background-color: #3b3b3b;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

.form input[disabled] {
    color: #717171;
}

.form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.symbol-required,
.errors-text {
    color: #d55757;
}

.form-buttons {
    margin-top: 2rem;
    grid-column: 1 / span 2;
}

.form-button-submit,
.form-button-cancel,
.form-button-edit {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.form-button-cancel,
.form-button-edit {
    box-sizing: border-box;
    display: block;
}

.form-button-submit {
    margin-bottom: 0.5rem;
}

.form input.error-input,
.form select.error-input {
    border: 3px solid #d55757
}

.errors-text {
    display: block;
    font-size: 0.85em;
    line-height: 2.25rem;
    margin-top: 0.5em;
}

@media (max-width: 720px) {

    header {
        flex-direction: column;
    }

    header h1 {
        text-align: center;
    }

    header img {
        align-self: center;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        flex-basis: 50%;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .form {
        grid-template-columns: 1fr;
        row-gap: unset;
        margin-left: unset;
    }

    .form-buttons {
        grid-column: 1 / 1;
    }

    .list-actions-button-details,
    .list-actions-button-edit,
    .list-actions-button-delete {
        width: 60px;
        padding: 0 rem 0.5rem;
    }

    .list-actions li {
        display: block;
    }

    .list-actions-button-details,
    .list-actions-button-edit {
        margin-right: 0;
    }
}

@media (max-width: 500px) {

    body,
    nav,
    nav ul,
    header,
    main,
    footer {
        margin: 0;
    }

    main {
        margin-bottom: 50px;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        flex-basis: 100%;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .table-list th,
    .table-list td {
        text-align: center;
        padding: 2px;
        flex-wrap: wrap;
    }

    .list-actions-button-details,
    .list-actions-button-edit,
    .list-actions-button-delete {
        text-align: center;
        width: 60px;
        padding: 0rem 0.5rem;
    }

    .list-actions li {
        display: block;
    }

    .list-actions-button-details,
    .list-actions-button-edit {
        margin-right: 0;
    }

}
